@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-bg-color: #e7e7e7;
    --secundary-bg-color: #222222;
    --primary-text-color: #222222;
    --secundary-text-color: #e7e7e7;
    --text-shadow-color: #222222;
    --border-color: #222222;
    --title-font-family: "Ramabhadra", sans-serif;
    --subtitle-font-family: "Google Sans Code", monospace;
    --standar-font-family: "Zalando Sans SemiExpanded", sans-serif;
}

.darkmode {
    --primary-bg-color: #222222;
    --secundary-bg-color: #e7e7e7;
    --primary-text-color: #e7e7e7;
    --secundary-text-color: #222222;
    --text-shadow-color: #e7e7e7;
    --border-color: #e7e7e7;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: var(--primary-bg-color);
    cursor: none;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    cursor: none;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: var(--primary-bg-color);
    opacity: 0;
}

::-webkit-scrollbar-thumb {
    background-color: var(--secundary-bg-color);
}

a {
    text-decoration: none;
}

a, a:hover, a:focus, a:active {
    cursor: none !important;
}


li {
    list-style: none;
}

span {
    display: inline-block;
}

.cursor {
    pointer-events: none;
    position: fixed;
    width: 20px;
    height: 20px;
    background-color: var(--secundary-bg-color);
    border-radius: 50%;
    transition: transform .3s ease-in-out;
    transform: translate(-50%, -50%);
    z-index: 999;
    mix-blend-mode: difference;
}

/*
--------------------
      Header
--------------------
*/
header {
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 102;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 20px;
    font-family: var(--standar-font-family);
}

nav {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 40px;
}

.dark-mode-toggle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--secundary-bg-color);
    cursor: none;
}

.logo-container a {
    color: var(--primary-text-color);
}

.logo {
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
}

nav > ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.hover-this {
    color: var(--primary-text-color);
    transition: all .3s ease-in-out;
    font-weight: 600;
}

.hover-this:nth-last-child(1) {
    margin-right: 20px;
}

.hover-this:hover ~ .cursor {
    transform: translate(-50%, -50%) scale(8);
}

/*
------------------------------
    Mobile And Tablet Menu
------------------------------
*/
.toggle-btn {
    display: none;
    justify-content: flex-end;
}

.burger {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2em 1.2em 1.2em 1.2em;
    background: rgba(255, 255, 255, 0);
    outline: none;
    border: none;
    width: 30px;
    height: 20px;
    transition: all 250ms ease-out;
    cursor: pointer;
}

.burger::before,
.burger::after {
    content: "";
    width: 30px;
    height: 2px;
    position: absolute;
    transition: all 500ms ease-out;
    background: var(--secundary-bg-color);
    will-change: transform;
}

.burger::before {
    transform: translateY(-3px);
}

.burger::after {
    transform: translateY(3px);
}

.active.burger::before {
    transform: translateY(0) rotate(45deg);
    background: var(--primary-bg-color);
}

.active.burger::after {
    transform: translateY(0) rotate(-45deg);
    background: var(--primary-bg-color);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background: var(--secundary-bg-color);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    will-change: transform;
    z-index: 101;
}

.overlay-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-item {
    display: flex;
    cursor: pointer;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.menu-item p {
    position: relative;
    text-align: center;
    font-size: 12vw;
    line-height: 100%;
    will-change: transform;
    transition: letter-spacing 0.3s;
}

.nav-items a {
    color: var(--secundary-text-color);
}

.nav-items span{
    display: inline-block;
}

.nav-items::after {
    content: "";
    position: absolute;
    top: 40%;
    left: 0;
    transform: scaleX(0);
    transform-origin: center;
    background-color: #c03f13;
    width: 100%;
    height: 5px;
    transition: transform 300ms ease-out;
}

.nav-items:hover::after {
    letter-spacing: 0.075em;
    transform: scaleX(1);
    transform-origin: center;
}

.sub-nav {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: .5em;
    opacity: 0;
    z-index: 10;
}

.sub-nav p {
    font-size: 20px;
    color: var(--secundary-text-color);
}

.sub-nav p a {
    color: var(--secundary-text-color);
    font-size: clamp(1rem, 0.83vw, 1.2rem);;
}

/*
--------------------
    Main Section
--------------------
*/
main {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.containers {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 
    border-top: 2px dashed var(--border-color);
    background-color: var(--primary-bg-color);
}

/*
--------------------
    Hero Section
--------------------
*/
.one {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: none;
}

/*
-----------------------
    Loader Section
-----------------------
*/
.loader {
    width: 100%;
    pointer-events: none;
    overflow: hidden;
    min-height: 100vh;
}

.loader-clip {
    position: absolute;
    width: 100%;
    height: 33.3vh;
    overflow: clip;
    z-index: 100;
}

.clip-top {
    top: 0;
    clip-path: inset(0 0 0 0);
    background-color: var(--secundary-bg-color);
    color: var(--secundary-text-color);
}

.clip-bottom {
    bottom: 0;
    clip-path: inset(0 0 0 0);
    background-color: var(--secundary-bg-color);
    color: var(--secundary-text-color);
}

.clip-center {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 33.3vh;
    top: 33.3vh;
}

.center {
    color: var(--primary-text-color);
    text-shadow: 1px 1px 4px var(--text-shadow-color);
    font-family: var(--title-font-family);
}

.marquee {
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200vw;
}

.marquee-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--title-font-family);
}

.marquee-container .title {
    font-size: clamp(1.65rem, 5vw, 5rem);
}

.slogan {
    color: var(--primary-text-color);
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 0 20px 20px;
    font-family: var(--subtitle-font-family);
    font-size: clamp(0.8rem, 0.83vw, 1.2rem);
}
/*
-----------------------
    General Styles
-----------------------
*/
.title {
    color: var(--primary-text-color);
    text-shadow: 1px 1px 4px var(--text-shadow-color);
    font-size: clamp(2rem, 5vw, 5rem);
    text-align: center;
    font-family: var(--title-font-family);
    line-height: 65px;
    pointer-events: none;
}

.subtitle {
    color: var(--primary-text-color);
    font-size: clamp(0.85rem, 1.5vw, 1.2rem);
    text-align: center;
    font-family: var(--subtitle-font-family);
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 20px 20px 0;
}

.top, .bottom {
    color: var(--secundary-text-color);
}   

/*
----------------------
    About Section
----------------------
*/
.two {
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.title-container {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-container {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 40px 0 40px;
}

.text {
    width: 45%;
    font-size: clamp(0.85rem, 2vw, 2rem);
    font-family: var(--standar-font-family);
    font-weight: 600;
    text-align: justify;
    color: var(--primary-text-color);
}

/*
-----------------------
    Project Section
-----------------------
*/
.three {
    height: 160vh;
    flex-direction: column;
    justify-content: space-between;
}

.three .title-container {
    height: 25%;
}

.projects-img-container {
    width: 100%;
    height: 75%;
    margin: 0 auto;
    padding: 0 0 0 10%;
}

.img-container {
    margin-bottom: 5%;
    width: 70%;
    position: relative;
}

.img-container:nth-child(even) {
    margin-right: 0;
    margin-left: auto;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transform-origin: left;
}

.mask {
   visibility: hidden;
   position: relative;   
   width: 80%;
   height: 80%;
   overflow: hidden;
}


/*
--------------------------
    Technologie Section
--------------------------
*/
.four {
  height: 100vh;
  border-bottom: 2px dashed var(--border-color);
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.four .title-container {
  height: 25%;
}

/*
--------------------
      Cards
--------------------
*/
.technologies {
    width: 60%;
    height: 100%;
    display: flex;
    gap: 1em;
    overflow-x: auto;
    align-items: center;
    scroll-behavior: smooth;
    anchor-name: --carousel;
    scroll-snap-type: x mandatory;
}

.technologies::-webkit-scrollbar {
    display: none;
}

.technologies::scroll-button(right), .technologies::scroll-button(left) {
    content: '›';
    border: none;
    background-color: transparent;
    font-size: 4rem;
    color: var(--secundary-bg-color);
    height: 80px;
    width: 80px;
    padding-bottom: .1em;
    cursor: none;
    position: fixed;
    position-anchor: --carousel;
    position-area: right center;
}

.technologies::scroll-button(left) {
    content: '‹';
    position-area: left center;
}

.technologies::scroll-button(right):disabled, .technologies::scroll-button(left):disabled {
    opacity: .5;
    cursor: none;
}

/* Card con perspectiva 3D */
.technologies-item {
    flex: 0 0 50%;
    height: 450px;
    background-color: var(--secundary-bg-color);
    cursor: none;
    text-align: center;
    align-content: center;
    scroll-snap-align: start;
    border-radius: 10px;
}

/* Wrapper que rota en 3D */
.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Ambas caras */
.front-content,
.back-content {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

/* Cara frontal */
.front-content {
    background-color: var(--secundary-bg-color);
}

/* Cara trasera (rotada) */
.back-content {
    background-color: var(--secundary-bg-color);
    font-size: clamp(.85rem, 1.25vw, 2rem);;
    transform: rotateY(180deg);
    color: var(--secundary-text-color);
    text-align: center;
    padding: 25px;
    letter-spacing: 1px;
    font-family: var(--standar-font-family);
    font-weight: 600;
}

/*
--------------------
    Footer
--------------------
*/
footer {
    width: 100%;
    height: 40vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-bg-color);
}

.footer-section-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.author {
    font-family: var(--standar-font-family);
    width: 50%;
    display: flex;
    cursor: none;
}

.footer-title a {
    color: var(--primary-text-color);
     font-size: clamp(1.2rem, 2.5vw, 2.5rem);
}

.social-media {
    width: 40%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.social-media a {
    transition: all .3s ease-in-out;
    color: var(--secundary-bg-color);
}

.social-media a:hover {
    transform: scale(1.2);
}

.copyright {
    color: #696969;
    pointer-events: none;
    font-size: clamp(1.1rem, 2vw, 2.5rem);
    font-family: var(--standar-font-family);
}